:root {
  --go-color: #00ca4e;
  --slow-color: #ffbd44;
  --stop-color: #ff605c;
  --color-theme: #34a0ff;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  user-select: none;
}
*::selection {
  background-color: transparent;
}
svg {
  border-radius: 9px;
}
button {
  border: none;
  outline: none;
  background-color: white;
}
button:hover {
  cursor: pointer;
}
html {
  margin: 0px;
  padding: 0px;
}
body {
  background-image: url("");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}
.toolbar {
  position: relative;
  top: 0px;
}
.tool-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 420px;
  width: auto;
  min-width: 130px;
  max-width: 130px;
  min-height: 420px;
  max-height: 90vh;
  resize: both;
  list-style: none;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin: 2px 0px 0px 5px;
  padding: 0px 0px 0px 8px;
}
.tool--btn {
  border: 1px solid rgba(37, 50, 113, 0);
  font-size: 9px;
  text-rendering: optimizeLegibility;
  background-color: rgba(255, 255, 255, 0);
  text-align: center;
  height: 40px;
  width: auto;
}
.tool--btn:focus {
  outline: none;
}
select {
  background: transparent;
  border: none;
  font-family: "Noto Serif SC", serif;
  font-size: 14px;
}
option {
  background-color: #212121;
  color: #7f7f7f;
  font-weight: 900;
}
#output {
  height: 600px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  width: 85%;
  font-family: monospace;
  font-size: 22px;
  box-shadow: none;
  max-height: 90vh;
  max-width: 99%;
  min-width: 20%;
  padding: 10px;
  margin-right: 5px;
  margin-left: 5px;
  margin-top: 3px;
  background: rgba(255, 255, 255, 0.829);
  color: rgb(3, 0, 23);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 5px;
  border: 2px solid rgba(43, 42, 42, 0.226);
  resize: both;
  overflow: none;
  z-index: 2;
  width: 100%;
  height: 90vh;
}
#output:focus {
  background: rgba(255, 255, 255, 0.534);
  border: none;
  outline: none;
}
.file-element:last-child {
  margin-bottom: 9px;
}
.file-element:first-child {
  margin-top: 7.5px;
}
.file-element {
  transition: all ease-in-out 0.1s;
  width: 100%;
  height: 80px;
  margin: 10px 0px 10px 0px;
  border-radius: 10px;
  background: rgb(255, 255, 255);
  text-decoration: underline solid rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 15px;
  color: gray;
  box-shadow: 0 2px 2px 0 rgba(31, 38, 135, 0.32);
  z-index: 1;
  margin:10px 0px 10px 0px;
}
.file-element p {
  margin: 4px;
}
.file-element:hover {
  z-index: 2;
  box-shadow: 0 2px 1px 0 rgba(8, 10, 39, 0.39);
  text-decoration: underline solid rgba(0, 0, 0, 0.59);
  color: rgba(0, 0, 0, 0.8);
  cursor: pointer;
}
#document-center {
  position: center;
  padding: 0px;
  height: 50px;
  width: 50px;
  margin: -3.1px 5px 0px 0px;
  border-radius: 10px;
  background-color: var(--color-theme);
  transition: all 0.7s;
  margin-left: 10px;
}
#filedisplayer {
  display: block;
  flex-direction: column;
  max-height: auto;
  height: auto;
  width: 85px;
  min-width: 82px;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.552);
  overflow: none;
  background-color: rgba(255, 255, 255, 0.728);
}
#file-displayer-hider {
  display: block;
  position: center;
  padding: 5px 5px 0px 0px;
  margin: 2px 0px 0px 0px;
  border-radius: 10px;
  background-color: rgba(157, 157, 157, 0.054);
  transition: all 0.7s;
  height: max-content;
}
.fa-bars:hover{
  cursor:pointer;
}
#file-displayer::-webkit-scrollbar-thumb {
  color: gray;
  background-color: rgba(128, 128, 128, 0);
}
#main {
  margin-top: 5px;
  display: flex;
  width: 100%;
  height: 100%;
}
#header-bar {
  background: #212121;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-radius: 0px 0px 10px 10px;
  transition: all 0.2s ease-in-out;
  border-bottom: 4px var(--color-theme) solid;
}
#header-options {
  margin: 0px;
  list-style: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.vertical-separator {
  margin: 3px 0px 0px 3px;
  height: 20px;
  width: 2px;
  border-radius: 25%;
  background-color: white;
}
.fas-caret-down {
  position: absolute;
  margin-left: 90vw;
}
#addButton{
  border-radius:8px;
  height: 40px;
  margin-left:10px;
}

#list {
  display: none;
  resize: both;
  overflow: auto;
  width: 250px;
  min-width: 255px;
  max-height: 90vh;
  min-height:  50vh;
  margin: 2px 0px 0px 0px;
  color: #212121;
  text-align: left;
  font-family: "Noto Serif SC", serif;
  background: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  margin-left: 5px;
}
.list-titles {
  position: relative;
  top: 0px;
  margin-left: 10px;
  width: 100%;
  margin-left: 0px;
  color: black;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(31, 38, 135, 0.259);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(68, 68, 68, 0.293);
  margin: 10px 0px 10px 0px;
  list-style: none;
  transition: all 0.1s ease-in-out;
}
.list-titles:hover {
  transition: all 0.1s ease-in-out;
  -webkit-filter: brightness(1.1);
  filter: brightness(1.1);
  cursor: pointer;
}
#list-organizer-hider {
  background-color: var(--color-theme);
  position: center;
  padding: 7.5px;
  margin: 2px 0px 5px 5px;
  border-radius: 10px;
  transition: all 0.7s;
  height: 50px;
  width: 50px;
}
#organizer-hider {
  position: center;
  padding: 5.5px;
  margin: 5px 5px 0px 0px;
  border-radius: 10px;
  background-color: var(--color-theme);
  transition: all 0.7s;
}
#organizer-hider:focus {
  outline: none;
}
#organizer::content {
  transition: all 10s;
}
#organizer::backdrop {
  transition: all 10s;
}
#organizer {
  display: none;
  resize: both;
  overflow-y: auto;
  min-height: 283px;
  min-width: 400px;
  margin: 0.5px;
  padding-right: 9px;
  background: rgba(255, 255, 255, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  max-height: 83.6vh;
  max-width: 400px;
}
#organizer::-webkit-scrollbar {
  width: 14px;
}
#organizer::-webkit-scrollbar-thumb {
  background: var(--color-theme);
}
#organizer::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.233);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.336);
  border-radius: 10px;
}
#organizer::-webkit-scrollbar-corner{
  background:transparent;
}
#list::-webkit-scrollbar {
  width: 14px;
}
#list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.233);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.336);
  border-radius: 10px;
}
#list::-webkit-scrollbar-thumb {
  background: var(--color-theme);
}
#list::-webkit-scrollbar-corner{
  background:transparent;
}
#folder-displayer {
  display: flex;
  flex-direction: row;
}
#organizer::after {
  transition: ease-in-out 1s;
}
#organizer::before {
  transition: ease-in-out 1s;
}
#organizer::selection {
  user-select: none;
}
details,
summary::marker {
  color: rgba(64, 75, 73, 0.083);
  z-index: 1;
}
#list-title {
  position: relative;
  left: 10px;
  width: 90%;
  border-radius: 10px;
  background: rgba(255, 255, 255, 255);
  box-shadow: 0 2px 4px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 22px;
}
.no-background {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0);
  color: white;
}
/* width */
::-webkit-scrollbar {
  width: 13px;
  border-radius: 10px;
  border-radius: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(36, 37, 38, 0.062);
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: royalblue;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(50, 89, 204);
  border-radius: 10px;
}
.organizer-list {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 2px 0 rgba(17, 6, 75, 0.056);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  background-color: white;
  font-size: 15px;
  letter-spacing: 0.1px;
  color: black;
  border-radius: 10px;
  margin-left: 10px;
}
#in-process-list {
  border-top: 16px solid var(--slow-color);
}
#to-do-list {
  border-top: 16px solid var(--stop-color);
}
#finished-list {
  border-top: 16px solid var(--go-color);
}
#bgchanger {
  border: none;
  outline: none;
  background-color: gainsboro;
  border-radius: 10px;
  width: 50px;
  transition: all 1s ease-in-out;
}
#bgchanger:focus {
  border: none;
  outline: none;
  background-color: gainsboro;
  border-radius: 10px;
  width: 200px;
  transition: all 1s ease-in-out;
}
.header-options-bt {
  background-color: rgba(128, 128, 128, 0.287);
  margin: 2px 2px 2px 6.5px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  transition: all ease-in-out 0.1s;
}
.header-options-bt:hover {
  cursor: pointer;
  transition: all ease-in-out 0.1s;
  background-color: var(--color-theme);
}
.options-bar-svg {
  background-color: rgba(255, 255, 255, 0.212);
  border-radius: 4px;
  margin: 0px 3px 0px 3px;
  border: 0.5px solid rgba(255, 255, 255, 0.151);
}
.tool {
  transition: 0.3s ease-in-out;
}
.tool:hover {
  transition: 0.2s ease-in-out;
  transform: translateY(-3px);
}
.tool-svg {
  border: 1px solid rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(0.2px);
  -webkit-backdrop-filter: blur(0.2px);
}
.tool-svg:hover {
  background: rgba(255, 255, 255, 0.418);
  border: 1px solid rgba(255, 255, 255, 0.505);
}
.tool-description {
  background: #3c3c3d;
  color: white;
  border-radius: 7px;
  font-weight: bolder;
  font-size: 11.5px;
  text-rendering: optimizeLegibility;
  padding: 5px;
  position: absolute;
  font-weight: 500;
  top: -50px;
  left: 0.1px;
  z-index: 1;
}
.no-outline:focus {
  outline: none;
}
.tool-input {
  width: 35px;
  height: 35px;
  background-color: rgba(204, 204, 204, 0.26);
  outline: none;
  border: 3.1px solid var(--color-theme);
  border-radius: 10px;
  box-shadow: inset rgba(255, 255, 255, 0.25) 1px 1px 1px 1px,
    inset rgba(255, 255, 255, 0.3) 0.2px 0.2px 0.2px 0.2px;
}
.tool-input:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.418);
}
#rotated-align {
  transform: rotate(180deg);
}
#rotated-undo::after {
  transform: rotate(180deg);
}
#arial {
  font-family: Arial;
}
#helvetica {
  font-family: Helvetica;
}
#rotated-undo {
  transform: rotate(180deg);
}
#rotated-undo:hover {
  background-color: rgb(196, 226, 254);
}
#undo:hover {
  background-color: rgb(196, 226, 254);
  transform: none;
}
.organizer-title{
  font-family: "Noto Serif SC", serif;
  position: relative;
  margin-left: 10px;
  width: 97%;
  padding:8px 0px 8px 0px;
  background: white;
  box-shadow: 0 3px 2px 0 rgba(31, 38, 135, 0.083);
  color: rgb(0, 0, 0);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 6px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  font-size: 17px;
  z-index: 0;
  text-align:center;
}
.organizer-title:hover{
  cursor: pointer;
  -webkit-filter: brightness(1.2);
  filter: brightness(1.2);
}
#current-folder-displayer {
  margin-left: 2px;
}
#finished-circle {
  color: var(--go-color);
}
#to-do-circle {
  color: var(--stop-color);
}
#in-process-circle {
  color: var(--slow-color);
}
.wrapper-finished .item .text {
  font-size: 18px;
  font-weight: 400;
}
.item i {
  font-size: 18px;
  cursor: pointer;
}
.organizer-item {
  border-radius: 10px;
  list-style: none;
  background: transparent;
  padding: 10px;
}
.list-item {
  position: relative;
  top: 0px;
  width: 98%;
  color: black;
  background: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(31, 38, 135, 0.259);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-bottom: 1px solid rgba(68, 68, 68, 0.293);
  margin: 10px 0px 10px 2.5px;
  list-style: none;
  transition: all 0.1s ease-in-out;
  border-radius: 10px;
}
.list-name {
  outline: none;
  border: none;
  font-family: "Noto Serif SC", serif;
  width: 85%;
  border-radius: 10px;
}
.deleteListItem {
  width: 30px;
  height: 30px;
  border-radius:10px;
}
.background-main {
  border: solid 2.1px var(--color-theme);
}
.background-stop {
  background-color: var(--stop-color);
}
.background-go {
  background-color: var(--go-color);
}
.background-slow {
  background-color: var(--slow-color);
}
@media (max-width: 1000px) {
  #list-organizer-hider {
    display:none;
  }
  #list{
    display:none;
  }
  .toolbar{
    display:flex;
  }
  #file-displayer-hider{
    display:none;
  }
  #organizer-hider{
    display:none;
  }
  #header-bar{
    height:40px;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  #list-organizer-hider {
    display:none;
  }
  #list{
    display:none;
  }
  .toolbar{
    flex-direction: column;
    width: 70px;
    height:100vh;
  }
  .tool-list{
    width:40px;
    height:100vh;
    overflow-y:scroll;
    display:list-item;
  }
  .tool-list::-webkit-scrollbar{
    width:1px;
  }
  #output{
    z-index:0;
  }
  .tool-description{
    z-index:10;
  }
  #file-displayer-hider{
    display:none;
  }
  #organizer-hider{
    display:none;
  }
  .vertical-separator{
    height:40px;
  }
}


